.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.input-box .label {
  font-weight: 700;
  text-transform: uppercase;
}

.input-box input {
  padding: 10px 20px;
  font-family: var(--default-font);
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #eee;
  transition: background 0.2s ease;
}

.input-box input:hover,
.input-box input:focus {
  background-color: #ddd;
}
